@font-face {
    font-family: 'Epson';
    src: url('assets/EPSON-FUTO-MINCHO.eot');
    src: url('assets/EPSON-FUTO-MINCHO.woff') format('woff'),
         url('assets/epminbld.ttf') format('truetype'), 
         url('assets/EPSON-FUTO-MINCHO.svg#EPSON-FUTO-MINCHO') format('svg'); 
}

body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100vh;
}

.grid {
    display: grid;
    width: 90%;
    height: 90%;
    grid-template-columns: 15% 5% 60% 5% 15%;
}

.column1 {
    display: grid;
    grid-column: 1;
    grid-template-rows: 20% 80%;
}

.column2 {
    display: grid;
    grid-column: 3;
    grid-template-rows: 20% 60% 20%;
}

.column3 {
    display: grid;
    grid-column: 5;
    grid-template-rows: 80% 20%;
}

.bonapos {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fidepos {
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotepos {
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Epson';
    font-size: 100px;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 50px;
}

ul {
    list-style: none;
    background: white;
    padding-left: 0px;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    font-family: 'Epson';
    padding: 20px 25px;
    color: black;
    text-decoration: none;
    text-align: left;
    font-size: 30px;
}

.fide-text {
    cursor: pointer;
    transition: color 0.3s ease;
}

.fide-text:hover {
    color: #808080;
}

ul li ul.dropdown-themes li {
    display: block;
}

ul li ul.dropdown-themes {
    width: 100%;
    position: absolute; 
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown-themes {
    display: block;
}

.batman-theme {
    color: yellow;
    background-color: black;
}

@keyframes fade-in {
    0%{ opacity: 0;}
    100%{ opacity: 1;}
}

.fade-in {
    animation: fade-in 6s;
}